.top-bar, .bottom-bar {
  width: 100%;
  height: 50px; 
  background-color: #fff; 
}

.dark-mode .top-bar, .dark-mode .bottom-bar {
  background-color: #2e2e2e !important; 
}

input[type="text"] {
  width: 100%;
  max-width: 300px;
}

.table {
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-icons {
  margin-top: 5px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
}

html {
  overflow-y: scroll;
}

.table-responsive {
  overflow-x: auto; 
}

/* Anything with "@media screen" is to support phone browsers */
@media screen and (max-width: 768px) {
  .table {
    width: 100%; 
  }

  .table-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .filter-container {
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
  }

  .filter-container .form-group {
    width: 100%; 
    margin-right: 0; 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .filter-container label {
    width: 100%;
    text-align: center; 
    margin-bottom: 5px;
  }

  .filter-container input, .filter-container select {
    width: 90%; 
    max-width: 400px; 
    margin: 0 auto; 
  }
}

@media screen and (min-width: 769px) {
  .filter-container .form-group {
    margin-right: 20px; 
  }

  .filter-container .form-group:last-child {
    margin-right: 0; 
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  min-height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.table-container {
  flex-grow: 1;
}

.dark-mode {
  background-color: #2e2e2e !important; 
  color: #e0e0e0 !important;
  height: 100%; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

.dark-mode .table-container {
  flex-grow: 1;
}

.bottom-bar {
  height: 50px;
}

.dark-mode table {
  background-color: #000 !important; 
  color: #fff !important; 
  border-collapse: collapse !important;
}

.dark-mode thead th {
  background-color: #444 !important; 
  color: #fff !important;
  border: 1px solid #fff !important;
}

.dark-mode tbody tr:nth-child(even),
.dark-mode tbody tr:nth-child(odd) {
  background-color: #000 !important; 
}

.dark-mode th, .dark-mode td {
  border: 1px solid #fff !important;
  color: #fff !important;
  background-color: #000 !important;
}

.dark-mode .form-control {
  background-color: #444 !important;
  color: #e0e0e0 !important;
  border: 1px solid #666 !important;
}

.dark-mode .form-check-label {
  color: #e0e0e0 !important;
}

.dark-mode .btn, .dark-mode a {
  color: #fff !important;
}

.dark-mode a[href="#"] {
  color: #007bff !important; 
}

.dark-mode ::placeholder {
  color: #e0e0e0 !important;
  opacity: 1;
}






